<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments/fragment :: head"></head>

<header th:replace="fragments/fragment :: header"></header>
<div class="container">
<form method="post" class="body-content" enctype="multipart/form-data">
    <div class="form-group">
        <label th:for="productName">Product Name
            <input class="form-control" th:field="${product.productName}" />
        </label>
        <p th:errors="${product.productName}" class="errors"></p>
    </div>
    <div class="form-group">
        <label th:for="productDescription">Product Description
            <textarea type="text" class="form-control" th:field="${product.productDescription}"/>
        </label>
        <p th:errors="${product.productDescription}" class="errors"></p>
    </div>
    <div class="form-group">
        <label th:for="price">Product Price
            <input class="form-control" th:field="${product.price}" />
        </label>
        <p class="errors" th:errors="${product.price}"></p>
    </div>
    <div class="form-group">
        <label th:for="quantity">Number of Products
        <input class="form-control" th:field="${product.quantity}">
        </label>
        <p class="errors" th:errors="${product.quantity}"></p>
    </div>
    <div class="form-group">
        <label th:for="files">Product Images:
            <input type="file" name="files" multiple="multiple" />
        </label>
<!--        <p th:errors="product.imageFiles" class="errors"></p>-->
    </div>
<!--    <input type="reset" class="btn btn-success" value="Reset">-->
    <input type="submit" value="Add Product" class="btn btn-success">
</form>
    <div th:if="errors">
        <span th:text="${errors}"></span>
    </div>
</div>
</body>
</html>