<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title>Letts Shop</title>
    <link rel="stylesheet" th:href="@{/css/.bootstrap.css}">
    <script th:src="@{/js/bootstrap.js}" type="text/javascript"></script>
    <link th:href="@{/css/letts_shop.css}" rel="stylesheet" />
</head>
<body>

<header th:replace="fragments/fragment :: header"></header>
<div class="container">
    <form method="post">
<!--    <a th:href="@{/products/addProduct}">Add a New Product</a>-->
    <table class="table table-striped">
        <thead>
        <tr>

            <th>Delete</th>
            <th>Product Name</th>
            <th>Product Description</th>
            <th>Product Price</th>
            <th>Quantity</th>
        </tr>
        </thead>
        <tr th:each="product : ${products}">
            <td>
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" name="productIds" th:value="${product.id}" th:id="${product.id}">
                    <label class="custom-control-label" th:for="${product.id}" th:text="${product.id}"></label>
                </div>
            </td>
            <td th:text="${product.productName}"></td>
            <th th:text="${product.productDescription}"></th>
            <th th:text="${'$' + product.price}"></th>
            <th th:text="${product.quantity}"></th>
        </tr>
    </table>
        <input type="submit" value="Delete" class="btn-danger">
    </form>
</div>
</body>
</html>