<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title>View Product Details</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <link th:href="@{/css/letts_shop.css}" rel="stylesheet" />
    <script th:src="@{/js/bootstrap.js}" type="text/javascript"></script>
</head>
<body>

<header th:replace="fragments/fragment :: header"></header>

<div class="container">
    <h4>The product has been saved</h4>
        <h5>Details</h5>
        Product Name: <span class="errors" th:text="${product.productName}"></span><br/>
        Description: <span th:text="${product.productDescription}"></span><br/>
        Price: <span th:text="${product.price}"></span><br/>
        Quantity: <span th:text="${product.quantity}"></span><br/>
        <p>Following files are uploaded successfully.</p>
    <ol th:each="image : ${images}">
        <li>
        <img th:src="${image}" />
        </li>
    </ol>
</div>

</body>
</html>